/* Base styles */
/***************/

:root {
  --green: #059b00;
  --lighter-green: #69bd66;
  --literally-black: #000000;
  --darker-black: #242424;
  --black: #313131;
  --dark-grey: #888888;
  --medium-grey: #bbbbbb;
  --light-grey: #e1e1e1;
  --white: #fbfbfb;
  --small: 0.7rem;

  --colour: var(--green);
  --background: var(--white);
  --text: var(--black);
  --muted-text: var(--dark-grey);
  --border: var(--light-grey);
  --shadow: var(--medium-grey);
  --code-background: var(--light-grey);
  --code: var(--black);
  --banner-background: var(--medium-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour: var(--lighter-green);
    --background: var(--black);
    --text: var(--light-grey);
    --muted-text: var(--medium-grey);
    --border: var(--darker-black);
    --shadow: var(--literally-black);
    --code-background: var(--darker-black);
    --code: var(--white);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  color: var(--text);
  line-height: 1.7;
  background-color: var(--background);
  font-size: 22px;
}

/* to undo styles in head that prevent fouc */
html {
  visibility: visible;
  opacity: 1;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.constrain {
  max-width: 38rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

.message {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--muted-text);
  font-size: var(--small);
  padding: 0.5rem 1rem;
  color: var(--code);
  display: flex;
  margin: 1rem 0 3rem 0;
}

.message p {
  margin: 0;
  flex: 1;
}

.message a {
  margin-left: 1rem;
  font-weight: bold;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags code {
  margin: 0 0.5rem;
  font-size: var(--small);
}

.tags li span {
  display: inline-block;
  width: 9rem;
}

.tags li span:first-letter {
  text-transform: capitalize;
}

.tags li .rss {
  font-size: var(--small);
}

.banner {
  background-color: var(--banner-background);
  padding: 2rem 0;
}

.banner h2 {
  margin: 0;
  border: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  border-bottom: 2px solid var(--border);
}

h1 {
  font-size: 2.5rem;
}

main {
  flex: 1;
}

.published {
  margin-top: 2rem;
  font-size: var(--small);
  color: var(--muted-text);
}

blockquote {
  border-left: 0.5rem solid var(--code-background);
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
}

li > p {
  margin-bottom: 0;
}

.confirm {
  display: inline-block;
}

.confirm span {
  margin-left: 0.5rem;
}

/* Page breaks */
/***************/

main hr {
  border: 0;
  background: transparent;
  margin: 2rem 0 3.5rem 0;
  text-align: center;
  color: var(--muted-text);
}

main hr::before{
  content: "—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—"
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2rem;
  }
}

/**********************************************************************/
/* Header
/**********************************************************************/

body > header {
  background-color: var(--border);
  padding: 2rem 0;
  line-height: 1;
}

article > header {
  border-bottom: 2px solid var(--border);
  padding-bottom: 1rem;
}

article > header span, article > header ul {
  font-size: var(--small);
}

article > header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

article > header ul li {
  display: inline-block;
  padding-left: 0.1rem;
}

article > header ul li:not(:last-child):after {
  content: ","
}

header svg {
  width: 65px;
  height: 65px;
  margin-right: 1rem;
}

.home-link {
  display: inline-block;
}

.home-link a {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

/**********************************************************************/
/* Images
/**********************************************************************/

main img {
  max-width: 100%;
  display: block;
  margin: 2rem auto;
  border: 10px solid var(--border);
  border-radius: 3px;
  box-shadow: 4px 4px var(--shadow);
  box-sizing: border-box;
}

figure {
  margin: 1rem 0;
}

figure img {
  margin: 0 auto;
}

figcaption {
  font-size: var(--small);
  color: var(--muted-text);
  margin: 0.5rem auto;
  text-align: center;
  width: 80%;
  display: block;
}

.gallery {
  display: grid;
  grid-template-rows: masonry;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  img {
    border-width: 7px;
  }

  figure {
    margin: 0.5rem 0;
  }

  figcaption {
    width: 100%;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/**********************************************************************/
/* Index page
/**********************************************************************/

main section ul:first-of-type {
  list-style: none;
  margin: 0;
  padding: 0
}

main section ul:first-child li a {
  letter-spacing: 0.07rem;
  font-weight: 500;
}

/**********************************************************************/
/* Footer
/**********************************************************************/

footer {
  background-color: var(--border);
  color: var(--muted-text);
  font-size: var(--small);
  margin-top: 2rem;
  padding: 2rem 0;
  align-items: center;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .links {
  display: flex;
  justify-content: space-between;
}

footer form {
  margin-bottom: 1.5rem;
}

footer p {
  margin: 0;
}

footer .cta {
  color: var(--text);
  font-size: 1rem;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  footer .links {
    flex-direction: column;
    align-items: flex-start;
  }

  footer ul {
    margin-bottom: 1.5rem;
  }
}

/**********************************************************************/
/* Links
/**********************************************************************/

a {
  color: var(--colour);
  outline-offset: 0;
}

a:visited {
  color: var(--text);
}

a:focus, a:hover {
  background: var(--colour);
  color: var(--background);
  outline: 3px solid var(--colour);
  text-decoration: none;
}

a:visited:hover, a:visited:focus {
  background: var(--text);
  color: var(--background);
  outline: 3px solid var(--text);
}

/**********************************************************************/
/* Code
/**********************************************************************/

code {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  font-size: 0.85rem;
  margin: 0 0.1rem;
  padding: 0.1rem 0.45rem;
}

small code {
  font-size: 90%;
}

pre {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-size: var(--small);
  overflow-x: auto;
  padding: 0.5rem 1rem;
  color: var(--code);
}

pre code {
  box-shadow: unset;
  padding: 0;
}

/**********************************************************************/
/* Forms
/**********************************************************************/

form {
  padding: 1rem 0;
  display: flex;
}

form span {
  margin-right: 0.5rem;
  flex: 1;
}

form button {
  background-color: var(--colour);
  border-radius: 3px;
  border: none;
  color: var(--background);
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input[aria-hidden="true"] {
  visibility: hidden;
  position: absolute;
  margin-left: -5000px;
}

input {
  background-color: var(--background);
  border-radius: 3px;
  border: 2px solid var(--text);
  color: var(--text);
  padding: 0.4rem;
  width: 100%;
}

::placeholder {
  color: var(--muted-text);
  opacity: 1;
}


/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  form {
    flex-direction: column;
  }

  form span {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
