<section>
  <!-- <p>Make the internet suck less. Build better software by learning the foundations.</p> -->
  <p>
    Under construction...
  </p>

  <form action="https://tinyletter.com/priorart"
        method="POST"
        target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/priorart', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

    <h2>Build better software by learning the foundations.</h2>

    <label for="tlemail" hidden>Your Email Address</label>
    <input type="email" name="email" id="tlemail" placeholder="Your Email Address">
    <input type="hidden" value="1" name="embed">
    <button type="submit">Help me write better software!</button>

    <small>You're signing up to receive a weekly digest of the latest content from Prior Art. I'll never send you spam. Unsubscribe at any time.</small>
  </form>
</section>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/kiramclean"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/kiramclean', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

<!-- Begin Mailchimp Signup Form -->

<form action="https://dev.us7.list-manage.com/subscribe/post?u=6119d33241b37b0d67ab58e56&amp;id=cdb59c902b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <h2>Build better software by learning the foundations.</h2>

  <input type="email"
  aria-label="Your Email Address"
   name="EMAIL"
     placeholder="Your Email Address"
     required>

  <input type="text" name="FNAME" placeholder="Your First Name">

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6119d33241b37b0d67ab58e56_cdb59c902b" tabindex="-1" value=""></div>
    <button type="submit">Help me write better software!</button>

</form>


<!--End mc_embed_signup-->
