<article>
	<header>
		<h1>{{ title }}</h1>
		<span>by Kira McLean in </span>
		<ul>
			{{# site/tags }}
			<li><a href="{{ tag/slug }}">{{ tag/label }}</a></li>
      {{/ site/tags }}
		</ul>

	</header>

	{{{ content }}}
	<p class="published"><em>Originally published: <time datetime="{{date}}">{{date}}</time></em></p>
</article>
