<article class="constrain">
	<header>
		<h1>{{ title }}</h1>
	</header>
	{{{ content }}}
	<p class="published"><em>Originally published on <time datetime="{{date}}">{{date}}</time></em></p>
</article>
