<footer>
	<div class="constrain">
		<ul>
      <li><a href="/feed.xml">Subscribe via RSS</a></li>
      <!-- <li><a href="/newsletter/">Subscribe via email</a></li> -->
		</ul>
		<nav>
			<a href="/about/">What is this?</a>
		</nav>
    <p>&copy; Kira McLean 2021</p>
	</div>
</footer>
