<div class="links">
  <ul>
    <li><a href="/feed.xml">Subscribe via RSS</a></li>
    <li><a href="https://twitter.com/kiraemclean" rel="me">Follow me on Twitter</a></li>
  </ul>

  <nav>
    <ul>
      <li><a href="/about/">What is this?</a></li>
      <li><a href="/tags/">All Topics</a></li>
    </ul>
  </nav>

  <p>&copy; Kira McLean 2021</p>
</div>
