<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prior Art{{# title }} | {{ title }}{{/ title }}</title>
  <style>
    html {visibility: hidden; opacity:0;}
  </style>
  <link rel="canonical" href="{{meta/root-url}}{{slug}}" />
  <link rel="stylesheet" href="/assets/normalize.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/styles.css" type="text/css" media="screen" />
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="alternate" href="{{meta/root-url}}/feed.xml" type="application/rss+xml" title="Prior Art">

  <script src="https://lizard.priorart.dev/script.js" data-site="WPMOFAZS" defer></script>

  <meta property="og:title" content="{{# title }}{{ title }}{{/ title }}{{^ title }}Prior Art{{/ title }}">
  <meta property="og:description" content="{{# title }}{{ description }}{{/ title }}{{^ title }}Write better software by building on established foundations. Stop re-inventing the wheel so you can focus on your app.{{/ title }}">
  <meta property="og:url" content="{{meta/root-url}}{{slug}}">
  <meta property="og:image" content="{{# image }}{{ meta/root-url }}/{{ image }}{{/ image }}{{^ image}}{{ meta/root-url }}/assets/images/logo.png{{/ image }}">
  <meta property="og:type" content="{{# title }}article{{/ title }}{{^ title }}website{{/ title }}">
  <meta property="og:site_name" content="Prior Art">
  <meta name="og:image:alt" content="Prior Art">
  <meta name="twitter:card" content="summary">
</head>

