<section class="constrain">
  <h2>Build a meme maker with Clojurescript</h2>
  <p>I'm working on a minicourse to teach the basics of Clojurescript developement with practical examples. We'll build a meme maker single-page app together. Topics include:</p>
  <ul>
    <li>Setting up a new Clojurescript project from scratch</li>
    <li>Building a Clojurescript UI with Reagent</li>
    <li>Debugging and working with Clojurescript in practice</li>
    <li>HTTP requests from ClojureScript to work with external APIs</li>
    <li>Coordinating HTTP requests and manage responses with core.async</li>
    <li>JavaScript interop with the DOM to interact with a &ltcanvas&gt</li>
    <li>Testing Clojurescript code</li>
  </ul>
</section>
<section class="banner">
	<div class="constrain">
    {{# message }}
		<div class="message">
		  <p>{{ message }}</p>
		  <span><a href="/">✕</a></span>
		</div>
    {{/ message }}
    <p><strong>Sign up to get updates about course releases.</strong></p>
    {{> email-form}}
    <small>You'll receive an email with updates about how this course is coming along every other week or so. No spam, ever. Unsubscribe anytime.</small>
	</div>
</section>
<section  class="constrain">
	<h2>Articles</h2>
  <ul>
  	{{# articles }}
      <li><a href={{ slug }}>{{ title }}</a></li>
  	{{/ articles }}
  </ul>
</section>
